* {
    box-sizing: border-box;
}

/* Set the background color for the entire page */
body {
    background-color: skyblue;
    font-family: 'Roboto Condensed', sans-serif;

}

/* Style the header */
h1 {
    text-align: center;
    margin: 1em auto;
    font-size: 3em;

}

/* Style the location search bar */

#search-bar {
    position: relative;
    display: flex;
    min-width: 100px;
}

#search-bar input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5em;
}

/* Style the location name */
#location-name {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

