* {
    box-sizing: border-box;
}

/* Set the background color for the entire page */
body {
    background-image: url(../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
}

/* Style the header */
h1 {
    text-align: center;
    margin: 1em auto;
    font-size: 3em;
    color: 	#31255a;
}

/* Style the location search bar */

.search-bar {
    position: relative;
    display: flex;
    min-width: 100px;
    justify-content: center;
}

.search-bar input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    max-width: 400px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5em;
}

/*Style the location search button*/

.search-buttons {
    position: relative;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.search-buttons button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;

    background-color: #fff;
    color: rgb(63, 63, 63);
    border-radius: 8px;

    min-width: 15ch;
    min-height: 45px;

    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;
}

.search-buttons button:hover {
    background-color: rgb(218, 218, 218);
  }

  .search-buttons button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px rgb(26, 26, 26);
  }

  

/* Style the location name */
#location-name {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

